/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #222;
    font-weight: bold;
}

a {
    text-decoration: none;
}

header nav {
    position: relative;
    float: left;
    width: 65%;
    float: left;
    padding-top: 28px;
}

header nav a {
    position: relative;
    float: left;
    font-family: Arial;
    font-size: 16px;
    margin-right: 70px;
    padding-bottom: 5px;
}

header nav a:hover {
    transition: 0.3s;
    color: #e79417;
    border-bottom: 2px solid #e79417;
    font-weight: bold;
}

#header_1 {
    position: relative;
    float: left;
    width: 30%;
}

#header_1 img {
    width: 70px;
    height: 70px;
    margin-left: 35%;
    border-radius: 30px;
}

#header_2 {
    position: relative;
    float: left;
    width: 70%;
}

#ifood {
    position: relative;
    float: left;
    width: auto;
    background-color: #f00;
    margin-top: 16px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#ifood p {
    position: relative;
    float: left;
    margin-top: 9px;
    margin-bottom: 5px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px;
}

#ifood img {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 2px;
}

#cadastro {
    position: relative;
    float: left;
    margin-left: 25%;
    background-color: #e79417;
    padding: 10px;
    margin-top: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
}

#principal {
    position: relative;
    width: 97%;
    height: 600px;
    background-image: url(imagens/background-burger.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 3%;
    padding-top: 100px;
}

#div_principal {
    position: relative;
    width: 700px;
    height: 250px;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#texto_principal {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 3px solid #e79417;
}

#texto_secundario {
    position: relative;
    width: 70%;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    color: #ccc;
}

#saibamais {
    position: relative;
    width: 200px;
    display: block;
    background-color: #e79417;
    padding: 10px;
    margin-left: 120px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}

#saibamais:hover,
#galeria:hover {
    color: #000;
    transition: 0.5s;
    cursor: pointer;
}

#secundaria {
    position: relative;
    background-color: #222;
    width: 100%;
    height: 600px;
    margin: auto;
}

#secundaria_esquerda {
    position: relative;
    float: left;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-top: 100px;
}

.txt_principal {
    position: relative;
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    font-family: 'Libre Baskerville', serif;
}

.txt_secundario {
    position: relative;
    display: block;
    color: #ccc;
    text-align: center;
    font-size: 20px;
    font-family: verdana;
    margin-top: 50px;
    margin-bottom: 75px;
}

.hr_dif {
    position: relative;
    margin: auto;
    width: 60%;
    height: 3px;
    background-color: #e79417;
    margin-bottom: 75px;
}

#secundaria_direita {
    position: relative;
    float: left;
    width: 40%;
    margin-top: 60px;
    margin-left: 50px;
}

#galeria {
    position: relative;
    background-color: #e79417;
    padding: 15px;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}

#terciaria {
    position: relative;
    background-image: url(imagens/fundo_madeira.jpg);
    background-size: 100% 50%;
    width: 100%;
    height: 1200px;
}

#menus {
    position: relative;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#menu1 {
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.todos_menus {
    position: relative;
    width: 250px;
    height: 400px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imgmenu {
    position: relative;
    width: 175px;
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
}

.imgmenu2 {
    position: relative;
    width: 175px;
    height: 120px;
    margin-top: 10px;
    border-radius: 10px;
}

#menu2 {
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.txt1menu {
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    font-family: 'Libre Baskerville', serif;
}

.txt2menu {
    position: relative;
    width: 220px;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-family: 'Libre Baskerville', serif;
}

.valores {
    position: relative;
    width: 220px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    color: #000;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.btnpedir {
    position: relative;
    background-color: #e79417;
    color: #fff;
    border-radius: 5px;
    border: #000 solid 2px;
    font-weight: bold;
    padding: 10px;
    margin-top: 25px;
}

.btnpedir:hover {
    color: #000;
    transition: 0.5s;
    cursor: pointer;
}

#txt_terciaria {
    position: relative;
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-size: 45px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.imgrefri {
    position: relative;
    margin-top: 20px;
    width: 80px;
    height: 100px;
}

#quarta {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #222;
    color: #fff;
}

#titulo_quarta {
    position: relative;
    padding-top: 50px;
    font-size: 35px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

#div_contato {
    position: relative;
    float: left;
    width: 40%;
    height: 400px;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imput_padrao {
    position: relative;
    width: 90%;
    height: 30px;
    background-color: #fff;
    color: #000;
    padding: 2px;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    border: 2px solid #e79417;
    border-radius: 10px;
}

textarea {
    position: relative;
    width: 90%;
    height: 200px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    border: 2px solid rgb(231, 148, 23);
    border-radius: 10px;
}

.imput_button {
    position: relative;
    width: 20%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #222;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
    border: 2px solid #e79417;
    border-radius: 5px;
}

.imput_button:hover {
    background-color: #ccc;
    color: #000;
    transition: 0.5s;
    cursor: pointer;
}

#contato_2 {
    position: relative;
    float: left;
    padding-top: 20px;
    padding-left: 5%;
}

#contato_2 iframe {
    border: 1px solid #e79417;
    border-radius: 20px;
    box-shadow: 1em 1em 2em black;
}

hr {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #e79417;
}

footer {
    position: relative;
    background-color: #222;
    width: 100%;
    height: 80px;
}

#redes {
    position: relative;
    float: left;
    width: 21%;
    padding-left: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#texto_footer1 {
    position: relative;
    float: left;
    width: 13%;
    padding-left: 11%;
    padding-right: 11%;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
}

#texto_footer1 p:hover {
    padding-bottom: 3px;
    transition: 0.3s;
    color: #e79417;
    border-width: 0px 0px 50px 0px;
    border-bottom: 2px solid #e79417;
    font-weight: bold;
}

#texto_footer2 {
    position: relative;
    float: left;
    width: 40%;
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
}

.imgredes {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

@media only screen and (max-width:1250px) {
    header nav a {
        margin-right: 40px;
    }
}